.Inquire .el-radio__input.is-checked .el-radio__inner {
    background: url("../../src/assets/NengHaoChaXun/icon_xz.png") no-repeat;

}

.Inquire .el-radio__inner {
    border: 0;
    /*border-radius: 100%;*/
    width: 16px;
    height: 16px;
    /*background-color: #3496AE;*/
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url("../../src/assets/NengHaoChaXun/icon_wxz.png") no-repeat;
    /*border:1px solid rgba(146, 226, 234, 1);*/
    /*box-shadow:0px 3px 18px 0px rgba(52,150,174,1);*/
}

.Inquire .el-radio__inner::after {
    background: none;
}

.Inquire .el-radio__input.is-checked + .el-radio__label {
    color: rgba(223, 253, 255, 1);
}

.Inquire .el-radio__label {
    font-size: 14px;
    padding-left: 5px;
    /*font-size:14px;*/
    font-family: HiraginoSansGB-W3;
    font-weight: bold;
    color: rgba(223, 253, 255, 1);
}

.Inquire .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #2DF3FF;
    border-color: #2DF3FF;
}

.Inquire .el-checkbox__input.is-checked + .el-checkbox__label {
    color: #DFFDFF;
}

.Inquire .el-checkbox__inner::after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    border: 2px solid #185488;
    border-left: 0;
    border-top: 0;
    height: 7px;
    left: 4px;
    position: absolute;
    top: 1px;
    -webkit-transform: rotate(45deg) scaleY(0);
    -ms-transform: rotate(45deg) scaleY(0);
    transform: rotate(45deg) scaleY(0);
    width: 3px;
    -webkit-transition: -webkit-transform .15s ease-in .05s;
    transition: -webkit-transform .15s ease-in .05s;
    -o-transition: transform .15s ease-in .05s;
    transition: transform .15s ease-in .05s;
    transition: transform .15s ease-in .05s, -webkit-transform .15s ease-in .05s;
    transition: transform .15s ease-in .05s, -webkit-transform .15s ease-in .05s;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

.Inquire .el-checkbox__label {
    display: inline-block;
    padding-left: 10px;
    line-height: 19px;
    font-size: 14px;
    color: #DFFDFF;
}

.Inquire .el-input--small .item2 .el-input__inner {
    height: 28px;
    line-height: 28px;
}

.Inquire .item2 .el-input__inner {
    -webkit-appearance: none;
    background-color: #174B7B;
    background-image: none;
    border-radius: 2px;
    border: 1px solid #2DF3FF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #BECDDE;
    display: inline-block;
    font-size: inherit;
    height: 28px;
    line-height: 28px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    -o-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
}

.Inquire .el-select:hover {
    border-color: #2DF3FF;
}

.Inquire .el-select .el-input__inner:focus {
    border-color: #2DF3FF;
}

.Inquire .el-select .el-input .el-select__caret {
    color: #2DF3FF;
    font-size: 15px;
    font-weight: 600;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    -webkit-transform: rotateZ(180deg);
    -ms-transform: rotate(180deg);
    transform: rotateZ(180deg);
    cursor: pointer;
}

.Inquire .el-range-editor--small.el-input__inner {
    background: #174B7B;
    border: 0 solid #2DF3FF;
}

.Inquire .el-range-editor--small .el-range-input {
    cursor: pointer;
    width: 220px;
    border: 1px solid #2DF3FF;
    background: #174B7B;
    color: #DBFDFF;
}

.Inquire .el-date-editor .el-range__icon {
    color: #2DF3FF;
}

.Inquire .el-date-editor--daterange.el-input, .el-date-editor--daterange.el-input__inner, .el-date-editor--timerange.el-input, .el-date-editor--timerange.el-input__inner {
    width: 542px;
}

.Inquire .el-range-editor--small .el-range-separator {
    line-height: 24px;
    font-size: 13px;
    color: #2DF3FF;
}

.Inquire .el-checkbox + .el-checkbox {
    margin-left: 10px;
}

.Inquire .el-checkbox__inner {
    display: inline-block;
    position: relative;
    border: 1px solid rgba(146, 226, 234, 1);
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: #3496AE;
    z-index: 1;
    -webkit-transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);
    -o-transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);
    transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);
}

.Inquire .el-radio__input.is-checked .el-radio__inner {
    background: url("../../src/assets/NengHaoChaXun/icon_xz.png") no-repeat;

}

.Inquire .filtrate-show .item-row .checkbox-tit .el-checkbox__label {
    font-size: 14px;
    font-family: HiraginoSansGB-W3;
    font-weight: bold;
    color: rgba(45, 243, 255, 1);
}

.Inquire .el-radio__inner {
    border: 0;
    /*border-radius: 100%;*/
    width: 16px;
    height: 16px;
    /*background-color: #3496AE;*/
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url("../../src/assets/NengHaoChaXun/icon_wxz.png") no-repeat;
    /*border:1px solid rgba(146, 226, 234, 1);*/
    /*box-shadow:0px 3px 18px 0px rgba(52,150,174,1);*/
}

.Inquire .el-radio__inner::after {
    background: none;
}

.Inquire .el-radio__input.is-checked + .el-radio__label {
    color: rgba(223, 253, 255, 1);
}

.Inquire .el-radio__label {
    font-size: 14px;
    padding-left: 5px;
    /*font-size:14px;*/
    font-family: HiraginoSansGB-W3;
    font-weight: bold;
    color: rgba(223, 253, 255, 1);
}

.Inquire .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #2DF3FF;
    border-color: #2DF3FF;
}

.Inquire .el-checkbox__input.is-checked + .el-checkbox__label {
    color: #DFFDFF;
}

.Inquire .el-checkbox__inner::after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    border: 2px solid #185488;
    border-left: 0;
    border-top: 0;
    height: 7px;
    left: 4px;
    position: absolute;
    top: 1px;
    -webkit-transform: rotate(45deg) scaleY(0);
    -ms-transform: rotate(45deg) scaleY(0);
    transform: rotate(45deg) scaleY(0);
    width: 3px;
    -webkit-transition: -webkit-transform .15s ease-in .05s;
    transition: -webkit-transform .15s ease-in .05s;
    -o-transition: transform .15s ease-in .05s;
    transition: transform .15s ease-in .05s;
    transition: transform .15s ease-in .05s, -webkit-transform .15s ease-in .05s;
    transition: transform .15s ease-in .05s, -webkit-transform .15s ease-in .05s;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

.Inquire .el-checkbox__label {
    display: inline-block;
    padding-left: 10px;
    line-height: 19px;
    font-size: 14px;
    color: #DFFDFF;
}

.Inquire .el-input--small .item2 .el-input__inner {
    height: 28px;
    line-height: 28px;
}

.Inquire .item2 .el-input__inner {
    -webkit-appearance: none;
    background-color: #174B7B;
    background-image: none;
    border-radius: 2px;
    border: 1px solid #2DF3FF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #BECDDE;
    display: inline-block;
    font-size: inherit;
    height: 28px;
    line-height: 28px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    -o-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
}

.Inquire .el-select:hover {
    border-color: #2DF3FF;
}

.Inquire .el-select .el-input__inner:focus {
    border-color: #2DF3FF;
}

.Inquire .el-select .el-input .el-select__caret {
    color: #2DF3FF;
    font-size: 15px;
    font-weight: 600;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    -webkit-transform: rotateZ(180deg);
    -ms-transform: rotate(180deg);
    transform: rotateZ(180deg);
    cursor: pointer;
}

.Inquire .el-range-editor--small.el-input__inner {
    background: #174B7B;
    border: 0 solid #2DF3FF;
}

.Inquire .el-range-editor--small .el-range-input {
    width: 220px;
    border: 1px solid #2DF3FF;
    background: #174B7B;
    color: #DBFDFF;
}

.Inquire .el-date-editor .el-range__icon {
    color: #2DF3FF;
}

.Inquire .el-date-editor--daterange.el-input, .el-date-editor--daterange.el-input__inner, .el-date-editor--timerange.el-input, .el-date-editor--timerange.el-input__inner {
    width: 542px;
}

.Inquire .el-range-editor--small .el-range-separator {
    line-height: 24px;
    font-size: 13px;
    color: #2DF3FF;
}

.Inquire .el-date-editor--daterange.el-input, .Inquire .el-date-editor--daterange.el-input__inner, .Inquire .el-date-editor--timerange.el-input, .el-date-editor--timerange.el-input__inner {
    width: 400px;
}

.Inquire .el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 120px;
    height: 28px;
}

.Inquire .el-input--small .el-input__inner {
    height: 28px;
    line-height: 28px;
}

.Inquire .el-input__inner {
    /*cursor: pointer;*/
    -webkit-appearance: none;
    background-color: #174B7B;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #29D1E5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*color: #606266;*/
    /*display: inline-block;*/
    font-size: 12px;
    font-family: HiraginoSansGB-W3;
    font-weight: bold;
    color: rgba(219, 253, 255, 1);
    height: 28px;
    line-height: 28px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    -o-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
}

.Inquire .el-input__prefix, .Inquire .el-input__suffix {
    position: absolute;
    top: 0;
    -webkit-transition: all .3s;
    height: 100%;
    color: #2DF3FF;
    text-align: center;
}

.Inquire .el-progress-bar__outer {
    height: 10px;
    border-radius: 100px;
    background-color: #063F60;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

.Inquire .el-progress__text {
    font-size: 14px;
    color: #606266;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    line-height: 1;

    font-size: 14px;
    font-family: HiraginoSansGB-W6;
    font-weight: normal;
    color: rgba(255, 255, 255, 1);
}

.el-date-range-picker.el-picker-panel {
    color: #606266;
    border: 1px solid #e4e7ed;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    background: rgba(0, 17, 33, .85);
    border-radius: 4px;
    line-height: 30px;
    margin: 5px 0;
}

.el-date-range-picker.el-picker-panel .el-input__inner {
    -webkit-appearance: none;
    background-color: rgba(0, 17, 33, .85);
    background-image: none;
    border-radius: 4px;
    border: 1px solid #2C4155;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(45, 243, 255, 1);
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    -o-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
}

.el-date-range-picker.el-picker-panel .el-input.is-disabled .el-input__inner {
    background-color: rgba(0, 17, 33, .85);
    border-color: #2C4155;
    color: rgba(45, 243, 255, 1);
    cursor: not-allowed;
}

.el-date-range-picker.el-picker-panel .el-date-table td span {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
    line-height: 24px;
    position: absolute;
    left: 50%;
    color: rgba(223, 253, 255, 1);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
}

.el-date-range-picker.el-picker-panel .el-date-table td.end-date span, .el-date-range-picker.el-picker-panel .el-date-table td.start-date span {
    background-color: #1B5F90;
}

.el-date-range-picker.el-picker-panel .el-date-table td.in-range div, .el-date-range-picker.el-picker-panel .el-date-table td.in-range div:hover, .el-date-table.is-week-mode .el-date-table__row.current div, .el-date-range-picker.el-picker-panel .el-date-table.is-week-mode .el-date-table__row:hover div {
    background-color: #178596;
}

.el-date-range-picker.el-picker-panel .el-date-range-picker.el-picker-panel {
    color: #DFFDFF;
    border: 1px solid #e4e7ed;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    background: rgba(0, 17, 33, .85);
    border-radius: 4px;
    line-height: 30px;
    margin: 5px 0;
}

.el-date-range-picker.el-picker-panel .el-date-range-picker.el-picker-panel {
    color: #DFFDFF;
    border: 1px solid #e4e7ed;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    background: rgba(0, 17, 33, .85);
    border-radius: 4px;
    line-height: 30px;
    margin: 5px 0;
}

.el-date-range-picker.el-picker-panel .el-date-range-picker__header div {
    font-size: 16px;
    font-weight: 500;
    margin-right: 50px;
    color: #DFFDFF;
}

.el-date-range-picker.el-picker-panel .el-date-table th {
    padding: 5px;
    color: #DFFDFF;
    font-weight: 400;
    border-bottom: solid 1px #ebeef5;
}

.el-date-range-picker.el-picker-panel .el-picker-panel__footer {
    border-top: 0px solid #e4e4e4;
    padding: 4px;
    text-align: right;
    background-color: rgba(0, 17, 33, .85);
    position: relative;
    font-size: 0;
}

.el-date-range-picker.el-picker-panel .el-date-table td.next-month, .el-date-range-picker.el-picker-panel .el-date-table td.prev-month {
    color: #b2b6bd;
}

.el-date-range-picker.el-picker-panel .el-button--text {
    color: #24C7D5;
    background: 0 0;
    padding-left: 0;
    padding-right: 0;
}

.el-date-range-picker.el-picker-panel .el-button.is-plain:focus, .el-date-range-picker.el-picker-panel .el-button.is-plain:hover {
    background: #24C7D5;
    border-color: #24C7D5;
    color: rgba(223, 253, 255, 1);
}

.el-date-range-picker.el-picker-panel .el-button.is-disabled.is-plain, .el-date-range-picker.el-picker-panel .el-button.is-disabled.is-plain:focus, .el-button.is-disabled.is-plain:hover {
    background-color: #24C7D5;
    border-color: #24C7D5;
    color: rgba(223, 253, 255, 1);
}

.el-date-range-picker.el-picker-panel .el-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    /*background: #24C7D5;*/
    /*border: 1px solid #24C7D5;*/
    /*color:rgba(223,253,255,1);*/
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    font-weight: 500;
    /*padding: 12px 20px;*/
    font-size: 14px;
    border-radius: 4px;
}

.el-date-range-picker.el-picker-panel .el-date-table td.end-date span, .el-date-range-picker.el-picker-panel .el-date-table td.start-date span {
    background-color: #1B5F90;
}

.el-popper.el-select-dropdown {
    position: absolute;
    z-index: 1001;
    border: 0;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px 0;
}

.el-popper.el-select-dropdown .el-select-dropdown__item {
    font-size: 14px;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: rgba(198, 212, 228, 1);
    height: 34px;
    line-height: 34px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.el-popper.el-select-dropdown .el-select-dropdown__item.selected {
    color: rgba(45, 243, 255, 1);

}

.el-popper.el-select-dropdown .el-select-dropdown__item.hover, .el-popper.el-select-dropdown .el-select-dropdown__item:hover {
    color: rgba(45, 243, 255, 1);
    background-color: rgba(0, 0, 0, .4);

}

.Inquire .col1 .el-checkbox__inner {
    display: inline-block;
    position: relative;
    border: 1px solid rgba(146, 226, 234, 1);
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: #FF7C2D;
    z-index: 1;
    -webkit-transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);
    -o-transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);
    transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);
}

.Inquire .col1 .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #FF7C2D;
    border-color: #FF7C2D;
}

.Inquire .col2 .el-checkbox__inner {
    border: 1px solid rgba(146, 226, 234, 1);
    background-color: #2DFF9A;
}

.Inquire .col2 .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #2DFF9A;
    border-color: #2DFF9A;
}

.Inquire .col3 .el-checkbox__inner {
    border: 1px solid rgba(146, 226, 234, 1);
    background-color: #FFF32D;
}

.Inquire .col3 .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #FFF32D;
    border-color: #FFF32D;
}

.Inquire .col4 .el-checkbox__inner {
    border: 1px solid rgba(146, 226, 234, 1);
    background-color: #41D9FF;
}

.Inquire .col4 .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #41D9FF;
    border-color: #41D9FF;
}

.left-branch .el-submenu__title {
    height: 30px;
    line-height: 30px;
    font-size:12px;
    font-family:HiraginoSansGB-W3;
    font-weight:normal;
    color:rgba(254,254,254,1);
    padding: 0 20px;
    cursor: pointer;
    -webkit-transition: border-color .3s, background-color .3s, color .3s;
    -o-transition: border-color .3s, background-color .3s, color .3s;
    transition: border-color .3s, background-color .3s, color .3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.left-branch .el-menu-item {
    height: 30px;
    line-height: 30px;

    font-size:12px;
    font-family:HiraginoSansGB-W3;
    font-weight:normal;
    color:rgba(254,254,254,1);
    padding: 0 20px;
    cursor: pointer;
    -webkit-transition: border-color .3s,background-color .3s,color .3s;
    -o-transition: border-color .3s,background-color .3s,color .3s;
    transition: border-color .3s,background-color .3s,color .3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.left-branch .el-submenu .el-menu-item {
    height: 30px;
    line-height: 30px;
    padding: 0 45px;
    min-width: 200px;
}
.Inquire .rank5 .el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 160px;
    height: 28px;
}
.Inquire .rank5 .el-input__prefix {
    left: 134px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}




.myTable .el-table--small th {
    padding: 6.5px 0;
    border-bottom: 1px solid #1B6D9A;
}
.myTable .el-table--small td{
    padding: 12px 0;
    border-bottom: 1px solid #1B6D9A;
    font-size:14px;
    font-family:HiraginoSansGB-W3;
    font-weight:normal;
    color:rgba(223,253,255,1);
}
.myTable .el-table td, .myTable .el-table th.is-leaf {
    border-bottom: 1px solid #1B6D9A;
}
.myTable .el-table--border td, .myTable .el-table--border th, .myTable .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
    border-right: 1px solid #1B6D9A;
}

.myTable .el-table th{
    background-color: #185588;
    font-size:14px;
    font-family:HiraginoSansGB-W6;
    font-weight:normal;
    color:rgba(95,251,248,1);
}
.myTable .el-table .descending .sort-caret.descending {
    border-top-color: #9EF3FF;
}
.myTable  .el-table .ascending .sort-caret.ascending {
    border-bottom-color: #9EF3FF;
}
.myTable .el-table .sort-caret.ascending {
    border-bottom-color: #33A5B6;
    top: 5px;
}
.myTable .el-table .sort-caret.descending {
    border-top-color: #33A5B6;
    bottom: 7px;
}
.myTable .el-table--border, .el-table--group {
    border: 0;
}
.myTable .el-table tr {
    background-color: #0A3E6E;
}
#myTable.myTable .el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #104C7B;
}
/*.myTable .el-table--striped.hover-row .el-table__body tr.el-table__row--striped td {*/
    /*background: #085F97;*/
/*}*/
.myTable .el-table--striped .el-table__body tr.el-table__row--striped.current-row td, .myTable .el-table__body tr.current-row>td, .myTable .el-table__body tr.hover-row.current-row>td, .myTable .el-table__body tr.hover-row.el-table__row--striped.current-row>td, .myTable .el-table__body tr.hover-row.el-table__row--striped>td, .myTable .el-table__body tr.hover-row>td {
    background-color: #085E96;
}
.myTable .el-table tr:hover {
    background: #085E96;
}
.myTable .el-table__fixed-right::before, .myTable .el-table__fixed::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
     background-color: #0A3F70;
    z-index: 4;
}
.el-date-picker.el-popper.el-picker-panel {
    color: #DFFDFF;
    border: 0;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    background:rgba(0,17,33,.85);
    border-radius: 4px;
    line-height: 30px;
    margin: 5px 0;
}
.el-date-picker.el-popper.el-picker-panel .el-date-table td.today span {
    font-family:HiraginoSansGB-W6;
    font-weight:bold;
    color:rgba(223,253,255,1);
}
.el-date-picker.el-popper.el-picker-panel .el-date-table td.available:hover {
    color: #198C9B;
}
.el-date-picker.el-popper.el-picker-panel .el-date-table th {
    padding: 5px;
    color: #DFFDFF;
    font-weight: 400;
    border-bottom: solid 1px #ebeef5;
}
.el-date-picker.el-popper.el-picker-panel .el-date-picker__header-label {
    font-size: 16px;
    font-weight: 500;
    padding: 0 5px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    color: #2DF3FF;
}
.el-date-picker.el-popper.el-picker-panel .el-date-table td.current:not(.disabled) span {
    color: #fff;
    background-color: #178596;
}
.el-date-picker.el-popper.el-picker-panel .el-year-table td .cell:hover, .el-date-picker.el-popper.el-picker-panel .el-year-table td.current:not(.disabled) .cell {
    color: #2DF3FF;
}
.el-date-picker.el-popper.el-picker-panel .el-month-table td .cell:hover, .el-date-picker.el-popper.el-picker-panel .el-month-table td.current:not(.disabled) .cell {
    color: #2DF3FF;
}
.left-branch .el-menu {
    border-right: 0;
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 0;
}
.myTable .el-table__fixed-footer-wrapper tbody td {
    border-top: 1px solid #ebeef5;
    background-color: #104C7B;
    color: #DFFDFF;
}
.myTable .el-table__footer-wrapper tbody td, .myTable .el-table__header-wrapper tbody td {
    background-color: #104C7B;
    color: #DFFDFF;
}
.myTable .el-table--border::after, .myTable .el-table--group::after, .myTable .el-table::before {
    content: '';
    position: absolute;
    background-color: #ebeef5;
    z-index: 1;
    height: 0;
}
.table-box .el-table--border, .el-table--group {
    border: 0;
}

.table-box .el-table td, .el-table th.is-leaf {
    border-bottom: 0;
}

.table-box .el-table_2_column_6 {
    /*background-color: #1A6191;*/
}

.table-box .el-table th, .el-table tr {
    background: #185588;
}

.table-box .el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #104C7B;
}

.table-box .el-table tr:hover {
    background: #085E96;
}

.table-box .el-table--enable-row-hover .el-table__body tr:hover > td {
    background: #085E96;
}

.table-box .el-table .cell, .el-table th div, .el-table--border th:first-child .cell {
    padding-left: 10px;
    font-size: 14px;
    font-family: HiraginoSansGB-W6;
    font-weight: normal;
    color: rgba(95, 251, 248, 1);
    text-align: center;
}

.table-box .el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left ~ .el-table__fixed {
    border-right: 1px solid #14658F;
}

.table-box .el-table__footer-wrapper tbody td, .el-table__header-wrapper tbody td {
    background-color: #104C7B;
    color: #606266;
    border-top: 0;
    border-bottom: 0;
}

.table-box .el-table::before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
}

.table-box .el-table--border::after, .el-table--group::after {
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
}

.table-box .el-table--striped .el-table__body tr.el-table__row--striped td.el-table_1_column_1 {
    /*background:rgba(45,243,255,1);*/
    /*opacity:0.08;*/
}

.table-box td.el-table_1_column_1, .table-box th.el-table_1_column_1 {
    position: relative;
}

.table-box td.el-table_1_column_1 {
    position: relative;

}

.table-box .el-table td .cell {
    font-size: 14px;
    font-family: HiraginoSansGB-W3;
    font-weight: normal;
    color: rgba(223, 253, 255, 1);
}

.table-box td.el-table_1_column_1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(45, 243, 255, 1);
    opacity: 0.08;
}

.table-box th.el-table_1_column_1 {
    position: relative;
}

.table-box th.el-table_1_column_1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(45, 243, 255, 1);
    opacity: 0.08;
}

.table-box .has-gutter tr th {
    position: relative;

}

.table-box .has-gutter tr th::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(58,138,197,1);
    opacity:0.3;
}
/*.table-box .el-table th{*/
/*background-color: #0A3E6E;*/
/*}*/
.table-box .el-table td, .table-box .el-table th.is-leaf {
border-bottom: 1px solid #145F8A;
}
.table-box .el-table--border td, .table-box .el-table--border th, .table-box .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
border-right: 1px solid #145F8A;
}
#myTable.myTable .table-box .el-table tr:hover>td{
background: #085E96;
}
#myTable.myTable .el-table--striped .el-table__body tr.el-table__row--striped.hover-row td {
background: #085E96;
}
#myTable.myTable .table-box .el-table th{
    background-color: #1A6191;
}
#myTable.myTable  .el-table--enable-row-transition .el-table__body td {
    -webkit-transition: background-color 0s ease;
    -o-transition: background-color 0s ease;
    transition: background-color 0s ease;
}
.table-box .el-table--border, .el-table--group {
border: 0;
}

.table-box .el-table td, .el-table th.is-leaf {
border-bottom: 0;
}

.table-box .el-table_2_column_6 {
/*background-color: #1A6191;*/
}

.table-box .el-table th, .el-table tr {
background: #0A3F70;
}

.table-box .el-table--striped .el-table__body tr.el-table__row--striped td {
background: #104C7B;
}

.table-box .el-table tr:hover {
background: #085E96;
}

.table-box .el-table--enable-row-hover .el-table__body tr:hover > td {
background: #085E96;
}

.table-box .el-table .cell, .el-table th div, .el-table--border th:first-child .cell {
padding-left: 10px;
font-size: 14px;
font-family: HiraginoSansGB-W6;
font-weight: normal;
color: rgba(95, 251, 248, 1);
text-align: center;
}

.table-box .el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left ~ .el-table__fixed {
border-right: 1px solid #14658F;
}

.table-box .el-table__footer-wrapper tbody td, .el-table__header-wrapper tbody td {
background-color: #104C7B;
color: #606266;
border-top: 0;
border-bottom: 0;
}

.table-box .el-table::before {
left: 0;
bottom: 0;
width: 100%;
height: 0;
}

.table-box .el-table--border::after, .el-table--group::after {
top: 0;
right: 0;
width: 0;
height: 100%;
}

.table-box .el-table--striped .el-table__body tr.el-table__row--striped td.el-table_1_column_1 {
/*background:rgba(45,243,255,1);*/
/*opacity:0.08;*/
}

.table-box td.el-table_1_column_1, .table-box th.el-table_1_column_1 {
position: relative;
}

.table-box td.el-table_1_column_1 {
position: relative;

}

.table-box .el-table td .cell {
font-size: 14px;
font-family: HiraginoSansGB-W3;
font-weight: normal;
color: rgba(223, 253, 255, 1);
}

.table-box td.el-table_1_column_1::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(45, 243, 255, 1);
opacity: 0.08;
}

.table-box th.el-table_1_column_1 {
position: relative;
}

.table-box th.el-table_1_column_1::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(45, 243, 255, 1);
opacity: 0.08;
}

.table-box .has-gutter tr th {
position: relative;

}

.table-box .has-gutter tr th::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background:rgba(58,138,197,1);
opacity:0.3;
}
.table-box .el-table tr {
    background-color: #0A3E6E;
}
.table-box .el-table thead.is-group th {
    background: #185588;
}
.table-box .el-table__empty-block {
    min-height: 60px;
    text-align: center;
    width: 100%;
    background-color: #104C7B;;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
